.ActionItems {
  padding: 20px;
  width: 100%;
  height: 100%;
  align-items: top;
}

.ActionItems--user {
  color: #1e1e1e;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0;
}

.ActionItems--actionItem {
  display: flex;
  gap: 8px;
}

.ActionItems--text {
  color: #1e1e1e;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
}
